<div id="vue-controller">
  <div class="row">
    <div class="col-12">
      <form class="input-group mb-3">
        <input type="text" v-model="searching" @input="typeSearch" ref="inSearch"
            placeholder="Escribe un código postal" class="form-control">
      </form>
    </div>
    <!-- <div class="col-12 mb-3">
        <button class="btn btn-primary w-100"
          @click="searchRequest()">Buscar</button>
    </div> -->
  </div>

  <div class="row" v-if="cpMatches.length !== 0">
    <div class="col-12">
      <h1>Lista de resultados</h1>
    </div>
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">CP</th>
            <th scope="col">Municipio</th>
            <th scope="col">Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="match in cpMatches">
            <td>{{ match.cp }}</td>
            <td>{{ match.municipio }}</td>
            <td>{{ match.estado }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  const INDEX_URL = "<%= Routes.postal_code_path(@conn, :index) %>";

  new Vue({
    el: '#vue-controller',
    data: {
        searching: "",
        cpMatches: [],
    },
    methods: {
      typeSearch: async function(event) {
          let response;

          if (this.$refs.inSearch.value.length === 0) {
            this.cpMatches = [];
            return
          }

          response = await axios.get(INDEX_URL, {
              params: {
                  searching: this.searching
              }
          });

          if (response.status === 200) {
              this.cpMatches = response.data.matches;
              console.log(response);
          } else {
              console.log(response);
          }
      }
    }
  });
</script>
