<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="div mb-3">
    <%= label f, :name, "Nombre", class: "form-label" %>
    <%= text_input f, :name, class: "form-control", class: "form-control" %>
    <%= error_tag f, :name %>
  </div>

  <div class="div mb-3">
    <%= label f, :age, "Edad", class: "form-label" %>
    <%= number_input f, :age, class: "form-control", min: 20, max: 40 %>
    <%= error_tag f, :age %>
  </div>

  <div class="div mb-3">
    <%= label f, :email, class: "form-label" %>
    <%= email_input f, :email, class: "form-control" %>
    <%= error_tag f, :email %>
  </div>

  <div class="div mb-3">
    <%= label f, :p_surname, "Apellido paterno", class: "form-label" %>
    <%= text_input f, :p_surname, class: "form-control" %>
    <%= error_tag f, :p_surname %>
  </div>

  <div class="div mb-3">
    <%= label f, :m_surname, "Apellido materno", class: "form-label" %>
    <%= text_input f, :m_surname, class: "form-control" %>
    <%= error_tag f, :m_surname %>
  </div>

  <div class="div mb-3">
    <%= label f, :license, "Cédula", class: "form-label" %>
    <%= text_input f, :license, class: "form-control" %>
    <%= error_tag f, :license %>
  </div>

  <div class="div mb-3">
    <%= label f, :expire_license, "Fecha de caducidad de la cédula", class: "form-label" %>
    <%= date_select f, :expire_license %>
    <%= error_tag f, :expire_license %>
  </div>

  <div>
    <%= submit "Crear", class: "btn btn-primary" %>
  </div>
<% end %>
