<div id="vue-controller">
  <div class="row">
    <div class="col-12">
      <form class="input-group mb-3">
        <input type="text" v-model="searching" placeholder="Escribe el nombre o email del agente a buscar" class="form-control">
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#modal">
          Nuevo agente
        </button>
      </form>
    </div>
    <div class="col-12 mb-3">
        <button class="btn btn-primary w-100"
          @click="searchRequest()">Buscar</button>
    </div>
    <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modalNewAgent" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalNewAgent">Crear agente</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <%= render "form.html", Map.put(assigns, :action, Routes.agent_path(@conn, :create)) %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h1>Listado de agentes</h1>
    </div>
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Edad</th>
            <th scope="col">Email</th>
            <th scope="col">Apellido paterno</th>
            <th scope="col">Apellido materno</th>
            <th scope="col">Cédula</th>
            <th scope="col">Caducidad de la cédula</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="agent in agentsRequest">
            <td>{{ agent.name }}</td>
            <td>{{ agent.age }}</td>
            <td>{{ agent.email }}</td>
            <td>{{ agent.p_surname }}</td>
            <td>{{ agent.m_surname }}</td>
            <td>{{ agent.license }}</td>
            <td>{{ agent.expire_license }}</td>
            <td>
              <span>
                <a v-bind:href="'agents/'+agent.id">Ver</a>
              </span>
              <span>
                <a v-bind:href="'agents/'+agent.id+'/edit'">Editar</a>
              </span>
              <span>
                <a data-confirm="¿Estás seguro?" @click="deleteAgent(agent.id)" href="#">Eliminar</a>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <nav class="d-flex justify-content-center">
        <ul v-if="noAgents > 0" class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" @click="getAgents(limit, currentPage -1)">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li v-for="page in noPages" class="page-item" v-bind:class="{ active: page == currentPage }">
            <a class="page-link" href="#" @click="getAgents(limit, page)">{{page}}</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="#" @click="getAgents(limit, currentPage +1)">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<script>
  const INDEX_URL = "<%= Routes.agent_path(@conn, :index) %>";
  const COUNT_URL = "<%= Routes.agent_path(@conn, :get_count_agents) %>";
  const TOKEN = document.querySelector('meta[name="csrf-token"]').content;

  new Vue({
    el: '#vue-controller',
    data: {
      agentsRequest: [],
      searching: "",
      limit: 5,
      offset: 0,
      noAgents: 0,
      noPages: 0,
      currentPage: 1,
    },
    created: async function () {
      let resCountAgents;

      resCountAgents = await axios.get(COUNT_URL);

      if (resCountAgents.status === 200) {
        this.noAgents = resCountAgents.data.no;
        this.noPages = Math.ceil(this.noAgents/this.limit);
        this.getAgents(this.limit, 1);
        console.log(resCountAgents.data);
      } else {
        console.log(resCountAgents);
      }
    },
    methods: {
      deleteAgent: async function(id) {
        let url = `agents/${id}`;

        let res = await axios.delete(url, {
            headers: {
              'X-CSRF-TOKEN': TOKEN,
            }
          });

        if (res.status === 200) {
          this.agentsRequest = this.agentsRequest.filter(agent => agent.id !== id );
          console.log(res.data);
        } else {
          console.log(res);
        }
      },
      searchRequest: async function () {
        let res = await axios.get(INDEX_URL, {
            params: {
              searching: this.searching
            }
          });

        if (res.status === 200) {
          this.agentsRequest = res.data.agents;
          console.log(res.data);
        } else {
          console.log(res);
        }
      },
      getAgents: async function (limit, page) {
        let offset;

        if (page < 1 || page > this.noPages)
          return

        offset = (page-1) * limit;
        this.currentPage = page;

        let resGetAgents = await axios.get(INDEX_URL, {
          params: {
            limit: limit,
            offset: offset,
          }
        });

        if (resGetAgents.status === 200) {
          this.agentsRequest = resGetAgents.data.agents;
          console.log(resGetAgents.data);
        } else {
          console.log(resGetAgents);
        }
      }
    }
  });
</script>
