<h1>Ver agente</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @agent.name %>
  </li>

  <li>
    <strong>Age:</strong>
    <%= @agent.age %>
  </li>

  <li>
    <strong>Email:</strong>
    <%= @agent.email %>
  </li>

  <li>
    <strong>P surname:</strong>
    <%= @agent.p_surname %>
  </li>

  <li>
    <strong>M surname:</strong>
    <%= @agent.m_surname %>
  </li>

  <li>
    <strong>License:</strong>
    <%= @agent.license %>
  </li>

  <li>
    <strong>Expire license:</strong>
    <%= @agent.expire_license %>
  </li>

</ul>

<span><%= link "Editar", to: Routes.agent_path(@conn, :edit, @agent) %></span>
<span><%= link "Volver", to: Routes.agent_path(@conn, :index) %></span>
